<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>

    <div class="header">My Messages</div>

    <div id="message-stream">
      <% @messages.each do |message| %>
      <div class="message">
        <div class="to">
          To: <%= message.to.capitalize %>
        </div>
        <div class="from">
          From: <%= message.from.capitalize %>
        </div>
        <div class="content">
          <%= message.content %>
        </div>
        <div class="time">
          Sent: <%= message.created_at.strftime("%d %b %Y") %>
        </div>
      </div>
      <% end %>

    </div>
  </body>
</html>
